@import url('https://fonts.googleapis.com/css2?family=ABeeZee&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');

* {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  ul.topnav {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(70, 22, 160);
    /* position: fixed; */
    width: 100%;
    border-radius: 10px 10px 0px 0px;
  }
  
  ul.topnav li {
    display: inline-block;
  }
  
  ul.topnav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 20px 16px;
    text-decoration: none;
  }
  
  ul.topnav li a:hover{
    background-color: black;
    color: rgb(250, 250, 250);
    font-family: 'ABeeZee', sans-serif;
  }

.container{
    display:contents;
}
.container .upper-div img{
    width: 100%;
    height: 600px;
}
.upper-div-title{
    text-align: center; 
    background-color: rgb(36, 32, 32);
    color: rgb(103, 112, 190); 
    padding: 20px 0px 20px 0px;
    font-weight: bolder;
    font-size: x-large;
}


.mid-div-tittle{
    text-align: center;
    margin: 10px 0px 10px 0px;
    padding: 30px 30px 30px 30px;
    border: 5px solid  rgb(70, 22, 160);;
    border-radius: 20px;
    color: white;
    font-weight: bolder;
    font-size: larger;
    background-color:  rgb(70, 22, 160);;
    font-family: 'Oswald', sans-serif;

}

.mid-div{
    margin: 10px 5px 10px 5px;
    /* padding: 5px 5px 5px 5px; */
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    overflow: hidden;
}

.cards{
    width:28%;
    height: 100%;
    border: 3px solid  rgb(70, 22, 160);;
    border-radius: 15px;
    /* padding: 10px;  */
    margin-top: 15px;
    margin-right: 30px;
    /* overflow: hidden;  */
    padding-bottom:20px ;
}

h4{
    color: white;
    font-size: 18px;
    padding: 10px;
    margin: 0px;
    text-align: center;
    background-color:  rgb(70, 22, 160);
    border-radius: 15px 15px 0px 0px;

}

a{
    display: contents;
    text-decoration: none;
}

.mid-div a .cards img{
    width: 100%;
    height: 75%;
    margin: 5px 0px 0px 0px;

}


.cards p{
    margin: 20px 3px 5px 3px;
    color: black;
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
}



.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 1%;

}


.grid-item {
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
}

/* .grid-item img{
  width: 100%;
} */

.product-title{
  color:  rgb(107, 65, 185);
  font-size: larger;
  font-weight: bolder;
  text-align: center;
  margin:5px 0px 5px 0px;
  padding: 25px 25px 25px 25px;
}

.details{
    text-align: center;
    padding: 10px 10px 10px 10px;

}

/* contact us */

.address{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  
  .help-cards{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  
  .help-cards img{
    width: 50%;
  }
  
  .help-cards p{
    width: 100%;
    line-height: 25px;
  }
  
  .highlight{
    font-size: x-large;
    font-weight: bolder;
    color: rgb(82, 32, 129);
  }
  
  
  .contact-form{
    display: block;
    text-align: center;
  }
  
  .text-input{
    display: inline;
  }
  
  
  input{
    border-radius: 5px;
    height: 20px;
    width: 30%;
  }
  button{
    background-color: rgb(50, 28, 148);
    color: white;
    padding: 10px 10px 10px 10px;
    font-weight: 700;
    border-radius: 15px;  
  }
  
  button:hover:not(.active) {
    background-color: rgb(110, 3, 3);
    color: rgb(255, 255, 255);
  }
  
  .showBox{
    line-height: 25px;
    margin-top: 50px;
    border: 3px solid rgb(70, 22, 160);;
    border-radius: 5px;
    box-shadow: rgba(49, 35, 30, 0.445) 5px 5px 5px 5px;
    padding: 5% 5% 5% 5%;
  }













  footer{
    background-color: rgb(70, 22, 160);
    padding: 20px 0px 20px 0px;
    border-radius: 0px 0px 10px 10px;
    color: white;
    margin-top: 20px;
  }